@font-face {
	font-family: "SegoeUI";
	src: url("../fonts/SegoeUI/SegoeUI.eot");
	src: local("../fonts/SegoeUI/SegoeUI"),
	  url("../fonts/SegoeUI/SegoeUI.eot?#iefix") format("embedded-opentype"),
	  url("../fonts/SegoeUI/SegoeUI.woff") format("woff"),
	  url("../fonts/SegoeUI/SegoeUI.ttf") format("truetype"),
  }
  @font-face {
	font-family: "SegoeUI-Bold";
	src: url("../fonts/SegoeUI/SegoeUI-Bold.eot");
	src: local("../fonts/SegoeUI/SegoeUI-Bold"),
	  url("../fonts/SegoeUI/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"),
	  url("../fonts/SegoeUI/SegoeUI-Bold.woff") format("woff"),
	  url("../fonts/SegoeUI/SegoeUI-Bold.ttf") format("truetype"),
  }
  @font-face {
	font-family: "SegoeUI-SemiBold";
	src: url("../fonts/SegoeUI/SegoeUI-SemiBold.eot");
	src: local("../fonts/SegoeUI/SegoeUI-SemiBold"),
	  url("../fonts/SegoeUI/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"),
	  url("../fonts/SegoeUI/SegoeUI-SemiBold.woff") format("woff"),
	  url("../fonts/SegoeUI/SegoeUI-SemiBold.ttf") format("truetype"),
  }