$color1: #00b9ff;
$color2: #000;
$color3: #fff;


$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-big: 20px;
$font-size-large: 35px;


$space-small: 10px;
$space-medium: 25px;
$space-big: 35px;
$space-large: 50px;


$primary-font: "SegoeUI" sans-serif;
$primary-font--bold: "SegoeUI-Bold" sans-serif;
$primary-font--semibold: "SegoeUI-SemiBold" sans-serif;

$container-size: 1200px;
$container-size--small: 830px;