$colors: (
	bg-color: $color1,
	white-color: $color3
);
.success__wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  &-item{
	width: 20%;
	padding-left: 20px;
  }
  &-link {
	padding: 140px 14px 72px;
	display: flex;
	align-items: center;
	color: #000;
	box-shadow: 0 -40px 99px rgba(0, 0, 0, 0.06);
	flex-direction: column;
	text-align: center;
	@include transition(background-color);
	&:hover {
		background-color: lighten(map-get($colors, bg-color), 30%);
	}
  }
  &-img{
    padding-bottom: 33px;
    width: 66px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
  }
}